[Unit]
Description=Eloverblik
After=network.target

[Service]
ExecStart=/home/pi/git/nim_eloverblik_api/eloverblik
WorkingDirectory=/home/pi/git/nim_eloverblik_api/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target